::-webkit-scrollbar {
  width: 10px;
  height: 10px;

  background: var(--mid);
}

::-webkit-scrollbar-track {
  background: var(--background);

  border-radius: 999px;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);

  border-radius: 999px;

  border: 2px solid var(--background);
}

::-webkit-scrollbar-thumb:hover {
  background: color-mix(in srgb, var(--accent) 80%, white);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-button {
  display: none;
}