@import url('https://fonts.googleapis.com/css2?family=Chiron+GoRound+TC:wght@200..900&family=Comme:wght@100..900&family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;

  font-family: "Funnel Display", sans-serif;
  font-weight: 300;
}
:root {
  --fontsize: 1rem;
}

.dark {
  --background: #151515;
  --text: #ffffff;
  --mid: linear-gradient(to right, #0c0c0c9c, #4141422f);
  --accent1: #FFDFB9;
  --accent2: #A4193D;
  --shadow: #4d4b4bcb;
}
.tema-repaint * {
  -webkit-text-fill-color: unset;
  -webkit-background-clip: unset;
}